<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="menu">menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="app-sidenav">
    <ng-content select="[layout-navbar]"></ng-content>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <ng-content select="[layout-body]"></ng-content>
  </div>
</mat-sidenav-container>
